<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <div class="container">
        <nav>
          <ul class="nav">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "Show All",   '/short_urls' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
